.ChatBox {
  position: absolute;
  bottom: 0;
  left: 2vw;
  width: 20vw;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 0px;
  overflow: hidden;
}

.ChatHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 2.4vh;
}

#ChatBody {
  height: 16.8vh;
  background-color: rgba(240,240,240,0.95);
  border: 1px solid black;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.NewChatBox {
  height: 2.4vh;
  margin-top: 5%;
  width: 100%;
}
.NewChatBox input {
  height: 94%;
  width: 94%;
  padding: 3%;
  margin: 0;
  border: 1px solid black;
}

.Chat {
  padding: 5px;
  margin: 5px 0 5px 0;
}

.Timestamp {
  font-size: .1em;
}