.Header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(rgba(197, 159, 202, 0.295),rgba(100, 50, 200, 0.25));
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 5px 0px;
  height: 10vh;
  max-height: 10vh;
}